In [ ]:
x = [1, 2, 3, 4]
for i in x:
  if (i<5):
    print('cool')

cool
cool
cool
cool

In [ ]:
fruits = ['apple', 'banana', 'coconut', 'strawberry', 5, 67, 'kiwi', 3, 9]
print(type(fruits))
print(fruits[1])
print(len(fruits))
print(fruits[:9])
fruits[1] = 'blackberry'
print(fruits[1])
fruits[4:9] = ['kiwi', 2]
fruits.append(10)
fruits.insert(4, 10)

print(fruits)

vege = ['broccoli', 'leek', 45, 23, 11]
fruits.extend(vege)
fruits.remove(10) #no index number
fruits.pop(4) #index number with round brackets
print(fruits)

del fruits[3]
#fruits.clear()
for i in fruits:
  print(i)

coffee = [34, 2, -56, 77]
coffee.sort(reverse = True)
print(coffee)

numbers = coffee.copy()

forest = fruits + coffee
print(forest)

coffee.index(34)

forest = fruits*2
print(forest)

<class 'list'>
banana
9
['apple', 'banana', 'coconut', 'strawberry', 5, 67, 'kiwi', 3, 9]
blackberry
['apple', 'blackberry', 'coconut', 'strawberry', 10, 'kiwi', 2, 10]
['apple', 'blackberry', 'coconut', 'strawberry', 2, 10, 'broccoli', 'leek', 45, 23, 11]
apple
blackberry
coconut
2
10
broccoli
leek
45
23
11
[77, 34, 2, -56]
['apple', 'blackberry', 'coconut', 2, 10, 'broccoli', 'leek', 45, 23, 11, 77, 34, 2, -56]
['apple', 'blackberry', 'coconut', 2, 10, 'broccoli', 'leek', 45, 23, 11, 'apple', 'blackberry', 'coconut', 2, 10, 'broccoli', 'leek', 45, 23, 11]

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

In [ ]:
dictionary = {'eggs':4,
              'flour': '50kg',
              'sugar':'300g'
              }
print(dictionary['eggs'])
dictionary.get('flour') #same as dictionary[]
dictionary.keys() #lists keys
dictionary['eggs']=5
print(dictionary['eggs'])
dictionary.values()
dictionary.update({'sugar':'400g'}) #same as changing value with []
print(dictionary['sugar'])
dictionary['butter'] = '250g'
dictionary.pop('sugar')
#del dictionary['flour']
#dictionary.clear()
#copy
print(dictionary)

#methods: clear, copy, fromkeys, get, items
dictionary.items()

4
5
400g
{'eggs': 5, 'flour': '50kg', 'butter': '250g'}

dict_items([('eggs', 5), ('flour', '50kg'), ('butter', '250g')])

In [ ]:
def cat():
  print('meow')

cat()

meow

In [ ]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

d1 = Dog('Bill', 5)
print(d1.name, d1.age)

Bill 5

In [ ]:
class Person:
  def __init__(self, name, age, eyecol):
    self.name1 = name
    self.age1 = age
    self.eye_col = eyecol

  def print1(self):
    print(self.name1, self.age1)

x = Person('Manya', 20, 'brown') #with identing x within the class, the program is going to think the class consturction isn't over
x.print1()

Manya 20

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('drive')

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('sail')

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('fly')

boeing = Plane('Boeing', '777')
sailboat = Boat('Manyaboats', '666')
car1 = Car('Nissan', '555')

for x in (car1, sailboat, boeing):
  x.move()

drive
sail
fly

In [ ]:
y = 7 #global variable, can be used by any function
def func1():
  global y
  y = 5 #local variable
  print(y)
func1()

print(y)

SyntaxError: name 'y' is assigned to before global declaration (<ipython-input-13-f3565101a9d2>, line 4)